# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Exclude workspace-specific settings
.vscode/cspell.json
